{embed="partials/header"}
{embed="partials/menu"}
{embed="_Homepage/carousel"}


{exp:channel:entries channel="pages" limit="1" entry_id="4"}
	<div class="container page-entry">
        <div class="col-sm-12 col-md-8 mx-auto pt-5">
        {entry_title}
        <br>
        <h2>{news_body}</h2>
        <p>{text_area}</p>
        </div>
        
        <!-- CREDIT REFERERNCES 
        
<div class="container col-md-8 pb-5" id="credit-ref">
    <div class="row">
        <div class="col-sm-12-col-md-6 ml-5 pb-2">
            <h3>CITY TRUCK & TRAILER</h3>
            <ul class="list-group list-unstyled">
                <li class="list-gorup-item">CITY TRUCK & TRAILER
                    PO Box 11567</li>
                <li class="list-gorup-item">Birmingham, AL 35202</li>
                <li class="list-gorup-item"><a href="tel:8002926509">(800) 292-6509</a></li>
            </ul>
        </div>
        <div class="col-sm-12-col-md-6 ml-5 pb-2">
            <h3>LIBERTY TRUCK SALES, INC.</h3>
            <ul class="list-group list-unstyled">
                <li class="list-gorup-item">912 North 31st Street</li>
                <li class="list-gorup-item">Birmingham, AL 35203</li>
                <li class="list-gorup-item"><a href="tel:2053268901">FAX INFO TO: (205) 326-8901</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12-col-md-6 ml-5 pb-2">
            <h3>BRIDGESTONE TIRE CO.</h3>
            <ul class="list-group list-unstyled">
                <li class="list-gorup-item">1745 Corporate Drive</li>
                <li class="list-gorup-item">Norcross, GA 30093</li>
                <li class="list-gorup-item"><a href="tel:4048061919">(404) 806-1919 EXT. 260</a></li>
            </ul>
        </div>
        <div class="col-sm-12-col-md-6 ml-5 pb-2">
            <h3>MCGRIFF CULLMAN</h3>
            <ul class="list-group list-unstyled">
                <li class="list-gorup-item">PO Box 1148</li>
                <li class="list-gorup-item">Cullman, AL 35056-1148</li>
                <li class="list-gorup-item"><a href="tel:8003881805">(800) 388-1805</a></li>
            </ul>
        </div>
    </div>

</div>        
-->
    </div>
    
	
{/exp:channel:entries}
{embed="_Homepage/sponsors"}
{embed="partials/footer"}