{embed="partials/header"}
{embed="partials/menu"}

<div class="container p-5">
<!-- I wrote an inline style margin top because I did not want to mess in the javascript file. the menu is position fixed in the master css -->

    <h1 class="text-center" style="color:#c30300; margin-top:200px">404 Not Found</h1>
    <br>
    <br>
    <p class="text-center"><img class="text-center mx-auto" src="/images/uploads/boyd-logo-1.png" alt=""></p>
</div>


{embed="_Homepage/sponsors"}
{embed="partials/footer"}