  {exp:formgrab:form
		name="credit_application_form"
		title="Credit Application Form"
        form_id="demo-form"
	}

<div class="">


    <div class="container col-sm-12 col-md-8 col-lg-6 py-5">
        <div class="">
            <h5 style="color:#c30300">Contact Information</h5>
            <div class="form-group">
                <label for="company">Company/Applicant</label>
                <input name="company" type="text" class="form-control" id="company" placeholder="Comapny Name">
            </div>
            <div class="form-group">
                <label for="mailing-address">Mailing address</label>
                <input name="mailing-address" type="text" class="form-control" id="mailing-address"
                    placeholder="address">
            </div>
            <div class="form-group">
                <label for="city-state">City and State</label>
                <input name="city-state" type="text" class="form-control" id="city-state" placeholder="city, state">
            </div>
            <div class="form-group">
                <label for="zip">Mailing Zip code</label>
                <input name="zip" type="text" class="form-control" id="zip" placeholder="zip">
            </div>
            <div class="form-group">
                <label for="name">Contact Name</label>
                <input name="name" type="text" class="form-control" id="name" placeholder="Name">
            </div>
            <div class="form-group">
                <label for="phone">Telephone</label>
                <input name="phone" type="text" class="form-control" id="phone" placeholder="Your email address">
            </div>
            <div class="form-group">
                <label for="toll-number">Toll-free Number</label>
                <input name="toll-number" type="text" class="form-control" id="toll-number"
                    placeholder="Toll-free Number">
            </div>
            <div class="form-group">
                <label for="fax">Fax</label>
                <input name="fax" type="text" class="form-control" id="fax" placeholder="Fax Number">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input name="email" type="email" class="form-control" id="email" placeholder="Your email address">
            </div>

        </div>

        <div class="">
        <br>
            <h5 style="color:#c30300">Shipping Information</h5>
            <div class="form-group">
                <label for="shipping-address">Shipping Address</label>
                <input name="shipping-address" type="text" class="form-control" id="shipping-address"
                    placeholder="Shipping Address">
            </div>
            <div class="form-group">
                <label for="shipping-city-state">Shipping City and State</label>
                <input name="shipping-city-state" type="text" class="form-control" id="shipping-city-state" placeholder="city, state">
            </div>
            <div class="form-group">
                <label for="shipping-zip">Mailing Zip code</label>
                <input name="shipping-zip" type="text" class="form-control" id="shipping-zip" placeholder="zip">
            </div>

        </div>

        <div class="">
        <br>
            <h5 style="color:#c30300">Additional Information</h5>
            <div class="form-group">
                <label for="credit-terms">Credit Amount Requested (Terms Net 14)</label>
                <input name="credit-terms" type="text" class="form-control" id="credit-terms"
                    placeholder="Credit Terms">
            </div>
            <div class="form-group">
                <label for="duns">DUNS Number</label>
                <input name="duns" type="text" class="form-control" id="duns"
                    placeholder="DUNS Number">
            </div>
        </div>
        
        <button type="submit"  class="btn btn-primary">Submit</button>
    </div>

</div>
	{/exp:formgrab:form}