<!doctype html>
<html lang="en">

<head>
    <title>Boyd Bros</title>
    <meta property="server" content="Forge server">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="/images/uploads/favIcon.png" />
    <!-- Open Graph -->
    <meta property="og:title" content="Boyd Bros" />
    <meta property="og:image" content="http://146.20.127.178/images/uploads/puzzle.jpg" />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="http://146.20.127.178" />
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- custom css -->
    <link rel="stylesheet" href="{path=styles/main-css}">

    <!-- Hamburgers -->
    <link rel="stylesheet" href="{path=styles/hamburger-menu}">
</head>

<body>
    <div class="container-fluid bg-light" id="main-container">

