    <!-- ----------------------------------------------------------------------- -->
    <!--                                  menu                                   -->
    <!-- ----------------------------------------------------------------------- -->
    <div class="container-fluid" id="nav-container">
        <nav>
            <a href="/"><img src="/images/uploads/boyd-logo-1.png" id="nav-logo" alt="Boyd Bros Company logo"></a>
            <button id="menu-btn" class="hamburger hamburger--spin" type="button" onclick="showMenu()">
                <span class="hamburger-box">
                    <span class="hamburger-inner"></span>
                </span>
            </button>
        </nav>
      <div class="daseke"> A <img src="/images/uploads/daseke-logo.png" alt="Daseke company logo"> Company</div>
        
        <div class="dropDownSection" id="dropDownSection" style="display:none">
            <div class="" id="leftSection">
                <div id="left-half">
                    <ul>
                        <li><button type="button" class="btn"><a href="/">Home</a></button></li>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#AboutUs">About
                                Us <i class="fa fa-plus"></i></button>
                            <div id="AboutUs" class="collapse">
                                <ul class="sub-menu">
                                	<li><a href="/Mission-Statement">Mission</a></li>
                                    <li><a href="/about-us">About</a></li>
                                    <!--<li><a href="/Testimonials">Testimonials</a></li>-->
                                    <li><a href="/Newsletter">Newsletter</a></li>
                                    <li><a href="/Million-Milers">Million Milers</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse"
                                data-target="#CustomerService">Customer Service <i class="fa fa-plus"></i></button>
                            <div id="CustomerService" class="collapse">
                                <ul class="sub-menu">
                                    <!-- <li><a href="http://wnt.boydbros.com/wntv5/Login.wnt" target="_blank">Load Tracking</a></li> -->
                                    <li><a href="/Request-Quote">Request a Quote</a></li>
                                    <!--<li><a href="/Credit-Application">Credit Applications</a></li>-->
                                    <!-- <li><a href="/service-maps">Service Maps</a></li> -->
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse" data-target="#DriverService">Driver
                                Service <i class="fa fa-plus"></i></button>
                            <div id="DriverService" class="collapse">
                                <ul class="sub-menu">
                                    <li><a href="/FAQ">FAQs</a></li>
                                    <li><a href="/Safety">Safety</a></li>
                                    <li><a href="/mcLeod-mobile-app">McLeod Mobile App</a></li>
                                    <li><a href="/Driver-Programs">Driver Programs</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse"
                                data-target="#EmployeeServices">Employee Services <i class="fa fa-plus"></i></button>
                            <div id="EmployeeServices" class="collapse">
                                <ul class="sub-menu">
                                    <li><a href="/Employee-Benefits">Employee Benefits</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div id="right-half">
                    <ul>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse"
                                data-target="#Employment">Employment <i class="fa fa-plus"></i></button>
                            <div id="Employment" class="collapse">
                                <ul class="sub-menu">
                                    <li><a href="http://www.drive4boyd.com/" target="_blank">Driver Opportunities</a></li>              
                                    <li><a href="/Non-Driver-Opportunities">Non Driver Opportunities</a></li>       
                                    <!-- <li><a href="https://drive4boyd.com/driving-academy" target="_blank">Boyd Driver Academy</a></li> -->
                                </ul>
                            </div>
                        </li>
                        <li><button type="button" class="btn"><a href="/Contact-Us">Contact Us</a></button></li>
                        <li>
                            <button type="button" class="btn" data-toggle="collapse"
                                data-target="#Chaplain">Support <i class="fa fa-plus"></i></button>
                            <div id="Chaplain" class="collapse">
                                <ul class="sub-menu">
                                	<li><a href="/Support">Corporate Chaplain </a></li>
                                    <!--<li><a href="https://www2.boydbros.com/boo/menu.pgm" target="_blank">Owner Operator</a></li>-->
                                    <!--<li><a href="http://wnt.boydbros.com/wntv5/Login.wnt" target="_blank">Driver Settlement</a></li>-->
                                   <!-- <li><a href="http://download.teamviewer.com/download/version_13x/TeamViewerQS.exe">Help Desk Remote Support</a></li>-->
                                </ul>
                            </div>
                        </li>
                        <li><button type="button" class="btn"><a target="_blank" href="https://www.rewardbooth.com/boydbros/login">Boyd Bucks</a></button></li>
                        {!-- <li><button type="button" class="btn"><a href="http://www.shopboyd-bros.com/" target="_blank">Company Store</a></button></li> --}
                    </ul>
                </div>

            </div>
            <div id="rightSection">
                <div class="search-section">
                  <h4 style="color: #545454; margin-left: 50%; transform:translateX(-50%);">SOCIAL</h4>
                </div>
                <div class="social-links">
                    <ul>
                        <li><a href="https://www.facebook.com/BoydBrosInc/" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/boydbrosdrivers" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/boyd-bros-transportation-inc-1/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
