{embed="partials/header"}
{embed="partials/menu"}
{embed="_Homepage/carousel"}


{exp:channel:entries channel="pages" limit="5" entry_id="25"}
	<div class="container page-entry">
        <div class="col-sm-12 col-md-8 mx-auto pt-5">  
        	<p style="text-align:center;"><img src="/images/uploads/logo_million-mile-club.jpg" /></p>
        
            <h2>{news_body}</h2>
            <p>{text_area}</p>
           <!-- <div class="million-miler-portraits">
            	<img src="/images/uploads/dan_1022053-Edit.jpg" />
            	<img src="/images/uploads/rico_587A0104.jpg" />

            	<img src="/images/uploads/million-mile-club/million-miler-1.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-2.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-3.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-4.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-5.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-6.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-7.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-8.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-9.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-10.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-11.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-12.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-13.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-14.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-15.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-16.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-17.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-18.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-19.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-20.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-21.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-22.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-23.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-24.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-25.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-26.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-27.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-28.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-29.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-30.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-31.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-32.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-33.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-34.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-35.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-36.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-37.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-38.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-39.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-40.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-41.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-42.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-43.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-44.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-45.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-46.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-47.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-48.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-49.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-50.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-51.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-52.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-53.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-54.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-55.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-56.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-57.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-58.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-59.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-60.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-61.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-62.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-63.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-64.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-65.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-66.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-67.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-68.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-69.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-70.png" />

            	<img src="/images/uploads/million-mile-club/million-miler-71.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-72.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-73.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-74.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-75.png" />
            	<img src="/images/uploads/million-mile-club/million-miler-76.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-77.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-78.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-79.jpg" />
            	<img src="/images/uploads/million-mile-club/million-miler-80.jpg" />

			</div>-->
        </div>        
    </div>	
{/exp:channel:entries}

{embed="_Homepage/sponsors"}

<style type="text/css">
	.million-miler-portraits {
    	display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .million-miler-portraits img {
    	flex: 0 1 33%;
        box-sizing: border-box;
        padding: 20px;
        width: 200px;
    }
</style>

{embed="partials/footer"}